
body {
    background-color: #F9F9F9;
  }
    hr {
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-spacing: 10px;
      border-width: 5px;
      width: 7%;
    }

h1 {
  color: #354259;
}

h3 {
  color: #354259;
}
